# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea

# Build output
dist
dist-ssr
*.local

# Dependencies
node_modules

# Tests
coverage
.nyc_output

# Env
.env
.env.local
.env.*.local
